[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-user-agents = "*"
django-ipware = "*"
geocoder = "*"
folium = "*"
python-decouple = "*"
django-jazzmin = "*"
djangorestframework = "*"
pillow = "*"
gunicorn = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.11"
